---
import Layout from '@/layouts/Layout.astro';
import Checkbox from '@/components/Checkbox.astro';
import Accordion from '@/components/Accordion.astro';
import AssetCard from '@/components/AssetCard.astro';
---

<Layout title='Components'>
  <section class='container mx-auto h-screen pt-14'>
    <div
      class='grid grid-cols-2 gap-2 px-2 py-4 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-7 2xl:grid-cols-10'
    >
      {
        [...new Uint8Array(10)].map(() => (
          <AssetCard price={Math.random() * (10 + 5) - 5} />
        ))
      }
    </div>
  </section>
</Layout>

<style></style>
