---
import Layout from '@/layouts/Layout.astro';

import { supabaseGetProducts } from '@/providers/supabase';

import AssetCard from '@/components/AssetCard.astro';

import { supabaseAuthHelper } from '@/utils/supabase-auth-helper';

const supabase = supabaseAuthHelper(Astro);
const products = await supabaseGetProducts(supabase, 0, 10);
---

<Layout title='Components'>
  <section class='container mx-auto h-screen pt-20'>
    <div
      class='grid grid-cols-2 gap-2 px-2 py-4 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-7 2xl:grid-cols-10'
    >
      {
        products.map(({ price, title, id }) => (
          <AssetCard slug={id} title={title} price={price} discount={100} />
        ))
      }
    </div>
  </section>
</Layout>
