---
interface Props {
  hidden?: boolean;
  href?: string;
  text?: string;
}

const { hidden, href, text } = Astro.props;
---

<a
  class:list={[
    'inline-flex items-center gap-1 rounded-md px-2 transition-colors hover:bg-zinc-700',
    {
      ['hidden']: hidden,
    },
  ]}
  href={href}
>
  <span>{text}</span>
  <slot />
</a>
