---
interface Props {
  variant?: 'primary' | 'secondary';
  type?: 'submit' | 'button';
}

const { variant, type } = Astro.props;

const className =
  variant === 'primary'
    ? 'bg-gradient-to-br from-rose-700 to-rose-500 outline-rose-500 hover:shadow-rose-600/50'
    : 'box-border border-2 border-sky-700 bg-sky-950 outline-sky-500 hover:shadow-sky-600/50';
---

<button
  type={type}
  class:list={[
    'inline-flex rounded-md px-2 py-1 outline-2 outline-offset-4 transition-all hover:cursor-pointer hover:shadow-md focus:outline active:scale-105 disabled:pointer-events-none disabled:opacity-50 disabled:saturate-0',
    className,
  ]}
>
  <slot />
</button>
