---
import Avatar from './Avatar.astro';
import LinkButton from './LinkButton.astro';

const user = Astro.locals.user;
---

<header
  class='fixed left-0 top-0 h-12 w-full bg-gradient-to-t from-rose-950/50 to-rose-400/0 backdrop-blur-[2px]'
>
  <section
    class='container z-10 mx-auto flex h-full items-center justify-between px-2'
  >
    <a href='/'>
      <span
        class='select-none bg-gradient-to-b from-rose-600 to-rose-400 bg-clip-text text-2xl font-bold text-transparent'
        >Archistore</span
      >
    </a>
    {!user && <LinkButton href='/login'>Login</LinkButton>}
    {!!user && <Avatar />}
  </section>
</header>
